.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1220px;
    background: #f34212; 
    padding: 30px 36px 0 36px ; 
    border-radius: 0 0 20px 20px;
    min-height: 200px;
}

.container p {
    font-size: 14px;
    line-height: 1.8em;
}