@font-face {
    font-family: 'IRANSans';
    src: url('./../../asset/font/IRANSans\(FaNum\).ttf') format('truetype');
}

.container {
    position: absolute;
    top: 500px; left: 0px;
    width: 100vw; 
}

.container .gridContainer {
    padding: 0 140px;
}


.container .why h5 {
    font-family: 'IRANSans' ;
}

.container .cause {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
}

.container .cause div:last-child {
    text-align: right;
}

.container .cause div:last-child div:last-child {
    margin-top: 2px;
    width: calc(100% - 10px);
    font-size: 12px;
    color: #4f6470;

}