@font-face {
  font-family: 'IRANSans';
  src: url('./asset/font/IRANSans\(FaNum\).ttf') format('truetype');
}

body {
  font-family: 'IRANSans';
  height: 100vh;
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: #f8fafd;
}

.App {
  text-align: center;
}

